.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1.4s;
    transform: translateY(60%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media screen and (max-width: 736px) {
    .hidden {
        transform: translateY(40%);
    }

    .show {
        transform: translateY(0);
    }
}