.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateY(80%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media screen and (max-width: 736px) {
    .hidden {
        transform: translateY(50%);
    }

    .show {
        transform: translateY(0);
    }
}